@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-page-bg-hsl: 210deg, 38%, 15%;
  --color-page-bg-dark-hsl: 210deg, 30%, 8%;
  --color-paper-bg: #1C1D22;
  --color-text-hsl: 0deg, 10%, 100%;
  --color-info-hsl: 230deg, 100%, 69%;
  --content-max-w: 800px;
}

html {
  height: 100%;
}

body {
  color: hsl(var(--color-text-hsl));
  background: hsl(var(--color-page-bg-dark-hsl));
  font-family: "Poppins", sans-serif;
  height: 100%;
  font-weight: 300;
}

p {
  line-height: 1.8em;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
}




