
.navbarWrapperTop {
    position: absolute;
    top: 0;
    left: 0; 
    right: 0;
    z-index: 100;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
}

.navbarWrapperScrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: hsl(var(--color-page-bg-dark-hsl));
    transform: translateY(-100px);
    transition: transform 0.2s ease;
    padding-left: 32px;
    padding-right: 32px;
}

.navbarWrapperScrolledVisible {
    transform: translateY(0);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 16px;
    height: 40px;
    max-width: var(--content-max-w);
    margin: 0 auto;
    color: hsl(var(--color-text-secondary-hsl));
}

.divider {
    height: 50%;
    width: 2px;
    background: hsl(var(--color-text-secondary-hsl));
}

.navLink {
    color: hsl(var(--color-text-secondary-hsl));
    text-decoration: none;
    transition: color 0.2s ease;
}

.navLink:hover {
    color: hsl(var(--color-text-primary-hsl));
}

.navbarMid {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.navbarRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
