.container {
  transform: translateY(-100px);
  width: 100%;
  background: hsl(var(--color-page-bg-dark-hsl));
  padding: 32px;
  border-radius: 8px;
  position: relative;
}

.publishedDate {
  color: hsl(var(--color-text-secondary-hsl));
}

.content {
  color: hsl(var(--color-text-body-hsl));
  font-size: 1.125rem;
  line-height: 1.75rem;
}