.container {
  position: sticky;
  top: 100px;
  align-self: start;
  min-width: 0;
}

.label {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1em;
  color: hsl(var(--color-text-primary-hsl));
  letter-spacing: 2px;
}

.heading {
  transition: color 0.2s ease;
  line-height: 1.25em;
  color: hsl(var(--color-text-secondary-hsl));
}

.headingLevel1 {
  font-size: 0.9rem;
}

.headingLevel2 {
  font-size: 0.8rem;
  margin-left: 1rem;
}

.headingActive {
  color: #FF8484;
}

.tocList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

@media screen and (max-width: 900px) {
  .container {
    display: none;
  }
}
