.container {
  transform: translateY(-150px);
  width: 100%;
  background: var(--color-page-bg);
  padding: 32px;
  border-radius: 8px;
  position: relative;
}

.publishedDate {
  color: hsl(var(--color-text-secondary-hsl));
  font-size: 1rem;
  margin-bottom: 1rem;
}

.content {
  color: hsl(var(--color-text-body-hsl));
  font-size: 1rem;
  line-height: 1.5rem;
}

.content > *:first-child > * {
  margin-top: 0;
}
