.h1 {
    font-size: 2rem;
    line-height: 1.2em;
    margin-bottom: 1em;
    margin-top: 3em;
}

.h2 {
    font-size: 1.6rem;
    line-height: 1.2em;
    margin-bottom: 1em;
    margin-top: 3em;
}

.h3 {
    font-size: 1.2rem;
    line-height: 1.2em;
    margin-bottom: 1em;
    margin-top: 3em;
}


.p {
    margin-top: 1.5em;
}

.p:first-child {
    margin-top: 0;
}

.a {
    color: hsl(var(--color-accent-hsl));
    text-decoration: underline;
}

.hashLink {
    color: hsl(var(--color-accent-hsl));
    position: relative;
    margin-top: 2em;
}

.hashLinkPos {
    position: relative;
    top: -70px;    
}

.hashLinkIcon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-120%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    opacity: 0;
}

.hashLink:hover .hashLinkIcon {
    opacity: 1;
}

.ul {
    padding-left: 32px;
    padding-top: 16px;
    list-style:circle
}

.image {
    margin-top: 5em;
    width: 100%;
    border-radius: 8px;
    margin-top: 5em;
}

.imageCaption {
    margin-bottom: 5em;
}

.blockQuote {
    margin-top: 2em;
    position: relative;
    background: hsl(var(--color-page-bg-hsl));
    border-color: hsl(var(--color-info-hsl));
    border-left-width: 3px;
    border-left-style: solid;
    padding: 16px;
    padding-left: 32px;
}

.blockQuoteIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate3d(-50%, -50%, 0);
    background: hsl(var(--color-page-bg-dark-hsl));
    color: hsl(var(--color-info-hsl));
}