.h1 {
    color: #FF8484;
    font-size: 2rem;
    line-height: 1.2em;
}

.h2 {
    font-size: 1.6rem;
    line-height: 1.2em;
}

.h3 {
    font-size: 1.2rem;
    line-height: 1.2em;
}


.p {
    margin-top: 1.5em;
}

.ul {
    padding-left: 32px;
    padding-top: 16px;
    list-style:circle
}

.image {
    width: 100%;
    border-radius: 8px;
    border: 1px solid white;
}