pre:has(code) {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100%;
    overflow: auto;
    display: inline-block;
}

code {
    overflow: auto;
}

code:not(pre:has(code)) {
    color: white;
    background: hsl(var(--color-page-bg-hsl));
    padding: 4px;
    border-radius: 4px;
}